* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    text-decoration: none;
}

body {
    background-color:#F9F9F9 ;
}

h1{
    font-family: 'poppins', sans-serif;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 47px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 0px;
    margin-left: 75px;
    margin-right: 75px;  ; 
}

.logo {
    width: 234px;
    height: 48px;
}

.nav-link {
    color: #262626;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navigation {
    display: flex;
    gap: 60px;
    align-items: center;
}

.button-1 {
    width: 143.811px;
    height: 35.953px;
    transform: rotate(-0.467deg);
    flex-shrink: 0;
    border-radius: 40px;
    background: #4CE0D7;
    align-items: center;
    color: #262626;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px 32px;
}

.first-section{
    max-width: 1272px;
    background-repeat: no-repeat;
    flex-shrink: 0;
    background-position: center;
    display: flex;
    align-items: center;
    padding:  0 16%;
    background-size: auto;
    height: 70vh;
    margin-left: 84px;
    margin-right: 84px;
    border-radius: 25px;
    background-image: url(AssetsV/background\ picture.png);
    margin-bottom: 73px;
}


.first-section-content > h3 {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.76px;
    padding-bottom: 22px;
}

.main-title{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 19px;
}

.description{
    width: 494px;
    height: 72px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 
.ventus-fashion {
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}





.topics{
    align-items: center;
    margin-bottom: 48px;
    margin-left: 84px;
}




.topics-p{
    color: #262626;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-content: baseline;
}

.topics-content{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1272px;
    gap: 10px;
}

.topics-content-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 291px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.05);
}

.topics-content-cards > p {
    color: #262626;
    text-align: center;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


    







.vector img{
    width: 1267px;
    height: 1px;
    border: 1px;
    color: #BCBCBC;
    margin-top: 87.5px;
    margin-left: 85.5px;
}

.main{
    box-shadow: 0px 6px 6px 0px #0000000D;
    background-color: #0000000D;
    width: 1204px;
    height: 698px;
    margin-top: 52.5px;
    margin-left: 118px;
    border-radius: 20px;
}

.fashion{
    background-image: url(AssetsE/fashion.png);
    width: 1204px;
    height: 360.3px;
    border-radius: 20px;
}

.fashion button{
    background-color: #262626;
    width: 233.95px;
    height: 36.49px;
    border-radius: 40px;
    margin-top: 23.34px;
    margin-left: 47.27px;
}

.fashion a{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #262626;
}

.class image{
    width: 65.67px;
    height: 50.77px;
}

.trending{
    max-width: 1204px;
    display: flex;
    margin-bottom: 80px;
    margin-top: 55.04px;
    gap: 60px;
    background-color: ;
}

.latest-trends{
    display: flex;
    flex-wrap: wrap;
}

.latest-trends img{
    padding-top: 23.34px;
    padding-left: 64.34px;
    margin-right: 20.99px;
}

.latest-trends h1{
    color: #BCBCBC;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 168px;
    height: 21px;
    margin-top: 37.7px;
}


.latest-trends h2{
    color: #BCBCBC;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 37.7px;
    width: 168px;
    height: 21px;
    margin-right: 389px;
}


.latest-trends h3{
    color: #F25E5E;
    width: 216px;
    height: 23px;
    margin-top: 39.7px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-right: 64px;
}

.latest-trends h4{
    color: #262626;
    margin-top: 5.82px;
    width: 1044px;
    height: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-left: 64px;
    margin-bottom: 23px;
}

.latest-trends p{
    color: #262626;
    width: 1033px;
    height: 73px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 64px;
    margin-right: 350px;
    margin-bottom: 10px;
}

.arrow{
    margin-top: 13px;
}

.arrow-more {
    display: flex;
    align-items: center;
    justify-content:left;
    margin-left: 0;
}

.latest-trends h5{
    color: #4CE0D7;
    width: 215px;
    height: 24px;
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 12px;
    margin-top: 40px;
}

h6{
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-left: 126px;
    margin-top: 97px;
}

.button {
    background-image: url(AssetsE/Mask\ group.png);
    width: 579.02px;
    height: 278.09px;
    background-size: auto;
    background-repeat: no-repeat;
}

.lifestyle{
    background-color: #0000000D;
    width: 579px;
    height: 670px;
    box-shadow: 0px 6px 6px 0px #0000000D;
    border-radius: 20px;
}

.lifestyle button{
    width: 175.44px;
    height: 36.49px;
    background-color: #262626;
    border-radius: 40px;
    margin-top: 20.67px;
    margin-left: 34.14px;
}

.lifestyle a{
    color: #FFFFFF;
    background-color: #262626;
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.text1{
    display: flex;
    flex-wrap: wrap;
}

.text1 img{

    margin-top: 30px;
    margin-left: 26.26px;
    margin-right: 11px;
}

.text1 h1{

    width: 169px;
    height: 21px;
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #BCBCBC;
    margin-top: 36.86px;
    margin-right: 83px;
}

.text1 h2{

    color: #BCBCBC;
    width: 167px;
    height: 21px;
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 36.86px;
}

.text1 h3{
    color: #262626;
    width: 471px;
    height: 94px;
    margin-left: 34px;
    margin-top: 4.99px;
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-right: 170px;
    margin-bottom: 1px;
}

.text1 p{
    margin-top: 1px;
    margin-left: 34px;
    margin-right: 150px;
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}

.classarrow1{
    margin-right: 11px;
}

.text1 h6{
   width: 216px;
   height: 23px;
   font-family: "Poppins" , sans-serif;
   font-weight: 700;
   font-size: 12px;
   color: #4CE0D7;
   margin-left: 11px;
   margin-top: 45px;
}

.summer{
    background-color: #0000000D;
    width: 565px;
    height: 670px;
    box-shadow: 0px 6px 6px 0px #0000000D;
    border-radius: 20px;
}

.button1 {
    background-image: url(AssetsE/Mask\ group\ \(1\).png);
    width: 565.89px;
    height: 278.09px;
    background-size: auto;
    background-repeat: no-repeat;
}

.button1 button {
    width: 175.44px;
    height: 36.49px;
    background-color: #262626;
    border-radius: 40px;
    margin-top: 20.67px;
    margin-left: 34.14px;
}

.button1 a{
    color: #FFFFFF;
    background-color: #262626;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.text2 img{
    margin-top: 30px;
    margin-left: 26.26px;
    margin-right: 10px;
}

.text2{
    display: flex;
    flex-wrap: wrap;
}

.text2 h1{
    width: 169px;
    height: 21px;
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #BCBCBC;
    margin-top: 36.86px;
    margin-right: 83px;
}

.text2 h2{   
    color: #BCBCBC;
    width: 167px;
    height: 21px;
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 36.86px;
}

.text2 h3{
    color: #262626;
    width: 471px;
    height: 94px;
    margin-left: 34px;
    margin-top: 4.99px;
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-right: 200px;
    margin-bottom: 1px;
}

.text2 p{
    margin-top: 1px;
    margin-left: 34px;
    margin-right: 150px;
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}
.classarrow2{
    margin-right: 11px;
}

.text2 h5{
    width: 216px;
    height: 23px;
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #4CE0D7;
    margin-left: 11px;
    margin-top: 45px;
}


.card1 {
    margin-bottom: 48.72px;
    width: 1204px;
    border-radius: 20px;
    background-color: #0000000D;
}

.card2 {
    margin-bottom: 48.72px;
    width: 1204px;
    border-radius: 20px;
    background-color: #0000000D;
}

.card3 {
    margin-bottom: 48.72px;
    width: 1204px;
    border-radius: 20px;
    background-color: #0000000D;
}

.background-pic1 {
    background-image: url(Assets/Mask\ group.png);
    width: 547.51px;
    height: 367.41px;
    background-size: auto;
    background-repeat: no-repeat;
}

.background-pic2 {
    background-image: url(Assets/Mask\ group\ \(1\).png);
    width: 547.51px;
    height: 367.41px;
    background-size: auto;
    background-repeat: no-repeat;
}

.background-pic3 {
    background-image: url(Assets/Mask\ group\ \(2\).png);
    width: 547.51px;
    height: 367.41px;
    background-size: auto;
    background-repeat: no-repeat;
}

.author-pic {
    width: 65.67px;
    height: 50.77px;
    margin-left: 45.95px;
    margin-top: 25.58px;
}

.author-profile {
    display: flex;
    flex-direction: row;
}

.author {
    margin-left: 16.86px;
    margin-top: 39px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #BCBCBC;
    margin-bottom: 52px;
}

.date {
    margin-left: 134px;
    margin-top: 39px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #BCBCBC;
}

.content h2 {
    width: 543px;
    font-family: Poppins, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #262626;
    margin-left: 45.49px;
}

.content p {
    width: 569px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #262626;
    margin-left: 45.49px;
    margin-bottom: 15px;
}

.read-more {
    display: flex;
    align-items: center;
    justify-content:first baseline;
}

.read-more img {
    width: 52px;
    height: 39px;
    margin-left: 36.49px;
}

.read-more p {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.24em;
    text-align: left;
    color: #4CE0D7;
}

.buttonR {
    padding: 9.42px 52.96px 9.17px 51.86px;
    text-decoration: none;
    background: #262626;
    border-radius: 40px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    margin-top: 25.37px;
    margin-left: 34.14px;
}

.cards-last {
    display: flex;
    flex-direction: column;
}

.card1,
.card2,
.card3 {
    display: flex;
}

.conteiner-footer {
    max-width: 1440px;
    height: 308px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 40px, 40px, 0, 0;
}

#footer-logo {
    max-width: 226px;
    height: 49px;
    margin-top: 87px;
    margin-left: 84px;
}

#paragraph {
    font-family: Poppins, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #262626;
    margin-top: 87px;
    margin-left: 566px;
    width: 227px;
    height: 42px;
}

.icons {
    margin-top: 95px;
    margin-right: 89px;
}

.soc-icons :first-child {
    margin-left: 13px;
}

.icon {
    width: 31px;
    height: 31px;
}

hr {
    max-width: 1267px;
    color: #BCBCBC;
    margin-left: 86.5px;
    margin-bottom: 34px;
}

#copyright {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #262626;
    margin-left: 88px;
    margin-bottom: 37px;
}

footer {
    border-radius: 40px 40px 0 0;
    background-color: #0000000D;
}