*{
    max-width: 1440px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #F9F9F9;
}

.vector img{
    width: 1267px;
    height: 1px;
    border: 1px;
    color: #BCBCBC;
    margin-top: 87.5px;
    margin-left: 85.5px;
}

.main{
    box-shadow: 0px 6px 6px 0px #0000000D;
    background-color: #FFFFFF;
    width: 1204px;
    height: 698px;
    margin-top: 52.5px;
    margin-left: 118px;
    border-radius: 20px;
}

.fashion{
    background-image: url(fashion.png);
    width: 1204px;
    height: 360.3px;
    border-radius: 20px;
}

.fashion button{
    background-color: #262626;
    width: 233.95px;
    height: 36.49px;
    border-radius: 40px;
    margin-top: 23.34px;
    margin-left: 47.27px;
}

.fashion a{
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #262626;
}

.class image{
    width: 65.67px;
    height: 50.77px;
}

.trending{
    display: flex;

}

.latest-trends{
    display: flex;
    flex-wrap: wrap;
}

.latest-trends img{
    padding-top: 23.34px;
    padding-left: 64.34px;
    margin-right: 20.99px;
}

.latest-trends h1{
    color: #BCBCBC;
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 168px;
    height: 21px;
    margin-top: 37.7px;
}


.latest-trends h2{
    color: #BCBCBC;
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 37.7px;
    width: 168px;
    height: 21px;
    margin-right: 389px;
}


.latest-trends h3{
    color: #F25E5E;
    width: 216px;
    height: 23px;
    margin-top: 39.7px;
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-right: 64px;
}

.latest-trends h4{
    color: #262626;
    margin-top: 5.82px;
    width: 1044px;
    height: 36px;
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-left: 64px;
    margin-bottom: 23px;
}

.latest-trends p{
    color: #262626;
    width: 1033px;
    height: 73px;
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 64px;
    margin-right: 350px;
    margin-bottom: 10px;
}

.classarrow{
    margin-top: 13px;
    margin-left: 51px;
    margin-right: 6px;
}


.latest-trends h5{
    color: #4CE0D7;
    width: 215px;
    height: 24px;
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 12px;
    margin-top: 40px;
}

h6{
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-left: 126px;
    margin-top: 97px;
}

.button{
    background-image: url(Mask\ group.png);
    width: 579.02px;
    height: 278.09px;
}

.lifestyle{
    background-color: #FFFFFF;
    width: 579px;
    height: 670px;
    box-shadow: 0px 6px 6px 0px #0000000D;
    margin-left: 118px;
    margin-top: 55px;
    border-radius: 20px;
}

.lifestyle button{
    width: 175.44px;
    height: 36.49px;
    background-color: #262626;
    border-radius: 40px;
    margin-top: 20.67px;
    margin-left: 34.14px;
}

.lifestyle a{
    color: #FFFFFF;
    background-color: #262626;
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.text1{
    display: flex;
    flex-wrap: wrap;
}

.text1 img{

    margin-top: 23.34px;
    margin-left: 26.26px;
    margin-right: 28.07px;
}

.text1 h1{

    width: 169px;
    height: 21px;
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #BCBCBC;
    margin-top: 36.86px;
    margin-right: 83px;
}

.text1 h2{

    color: #BCBCBC;
    width: 167px;
    height: 21px;
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 36.86px;
}

.text1 h3{
    color: #262626;
    width: 471px;
    height: 94px;
    margin-left: 34px;
    margin-top: 4.99px;
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-right: 170px;
    margin-bottom: 1px;
}

.text1 p{
    margin-top: 1px;
    margin-left: 34px;
    margin-right: 150px;
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}

.classarrow1{
    margin-right: 11px;
}

.text1 h6{
   width: 216px;
   height: 23px;
   font-family: "Poppins" , sans-serif;
   font-weight: 700;
   font-size: 12px;
   color: #4CE0D7;
   margin-left: 11px;
   margin-top: 45px;
}

.summer{
    background-color: #FFFFFF;
    width: 579px;
    height: 670px;
    box-shadow: 0px 6px 6px 0px #0000000D;
    margin-left: 118px;
    margin-top: 55px;
    border-radius: 20px;
}

.button1{
    background-image: url(Mask\ group\ \(1\).png);
    width: 565.89px;
    height: 278.09px;
}

.button1 button{
    width: 175.44px;
    height: 36.49px;
    background-color: #262626;
    border-radius: 40px;
    margin-top: 20.67px;
    margin-left: 34.14px;
}

.button1 a{
    color: #FFFFFF;
    background-color: #262626;
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.text2 img{
    margin-top: 23.34px;
    margin-left: 26.26px;
    margin-right: 28.07px;
}

.text2{
    display: flex;
    flex-wrap: wrap;
}

.text2 h1{
    width: 169px;
    height: 21px;
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #BCBCBC;
    margin-top: 36.86px;
    margin-right: 83px;
}

.text2 h2{   
    color: #BCBCBC;
    width: 167px;
    height: 21px;
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 36.86px;
}

.text2 h3{
    color: #262626;
    width: 471px;
    height: 94px;
    margin-left: 34px;
    margin-top: 4.99px;
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-right: 200px;
    margin-bottom: 1px;
}

.text2 p{
    margin-top: 1px;
    margin-left: 34px;
    margin-right: 150px;
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}
.classarrow2{
    margin-right: 11px;
}

.text2 h5{
    width: 216px;
    height: 23px;
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #4CE0D7;
    margin-left: 11px;
    margin-top: 45px;
}